:root {
  --background: #171717;
  --foreground: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}

/* This ensures tiles get Roboto Condensed */
.tile {
  width: 80px;
  height: 80px;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-roboto-condensed), sans-serif;
  font-weight: 400;
  font-size: 2rem;
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  text-transform: uppercase;
  transition: transform 0.3s ease;
}

.tile-label {
  color: #888888;
}
